<app-navbar></app-navbar>

<div class="jumbotron text-center">
  <h1>Your Food Truck Bookings</h1>      
  </div>
  <div class="container">
      <div class="row">
       <div class="col-sm-4" *ngFor="let booking of bookings">
          <div class="card w3-center w3-animate-bottom">
              <div class="card-body">
              <h5 class="card-title">{{booking.truckname}}</h5>
              <p class="card-text">{{booking.bookingDate}}</p>

              </div>
          </div>
      </div>
        
    </div>
    </div>
