

.card{
    box-shadow: 2px 2px 10px rgb(255,26,26);;
    padding: 20px 10px;
    margin-bottom:25px;
    background-color: rgba(255,26,26,0.6);
    color: #FFF;
    border:rgba(255,26,26,0.6) 1px;
    transition: .3s linear all;
    font-family: 'Righteous', cursive;
}

.card:hover{
    box-shadow: 8px 8px 30px rgb(255,26,2);
    background-color: rgba(255,26,26,0.8);
    transition: .3s linear all;
  }