<div class="main pt-4">
  <div class="container" style="text-align:center">
      <br><br>
     <label class="text-primary p-1" style="font-size:35px"><strong>Details</strong> </label> <br>
     <label class="text-danger p-1" style="font-size:35px"><strong>{{data.name | uppercase}}</strong></label> <br>
     <img src={{data.image}} height="200px"  width="200px"/> <br> <br>
     <h5 class="text-danger">Real Name</h5><hr class="bg-white" width="10%"/><h5 class="text-white">{{data.realname}}</h5><br> 
     <h5 class="text-danger">Powers</h5><hr class="bg-white" width="10%"/><h5  class="text-white">{{data.powers}}</h5>
</div>
</div>