<div class="jumbotron text-center">
<h1>Food Truck Booking</h1>      
</div>
<h1 class="text-center">Login</h1>
<div class="results">
  <form>
      <div class="form-group text-center">
        <input type="text" name="username" required [(ngModel)]="username" class="form-control"  placeholder="Enter Username">
      </div>
      <div class="form-group text-center">
        <input type="password" name="password" required [(ngModel)]="password" class="form-control"  placeholder="Enter Password">
      </div>
      <!-- <button type="submit" class="btn btn-block btn-danger">Login</button> -->
      <button type="submit" (click)="goToHome()" class="btn btn-block btn-danger">Login</button> 
    </form>
</div>
<h3 class="text-center">{{errorMsg}}</h3>